### Codigo para ajustar a celula do excel

In [2]:
import pandas as pd

# List with some Universities of Europe

In [14]:
df = pd.read_excel("Universidades.xlsx", sheet_name="europe")

df["Universidade"] = df["University of Oxford - https://www.ox.ac.uk/"].apply(lambda x: x.split("-")[0])
df["link"] = df["University of Oxford - https://www.ox.ac.uk/"].apply(lambda x: x.split("-")[1])
del df["University of Oxford - https://www.ox.ac.uk/"]
df
# Save the data
df.to_excel("List of many Universities Europe.xlsx", sheet_name="Europe")
df
# Desafio para quem esta vendo, e eu fiquei com sono.. to fznd as 6h da manha das minhas ferias...
# Inserir Universidade de Oxford : https://www.ox.ac.uk/

,Universidade,link
0,University of Cambridge,https://www.cam.ac.uk/
1,Imperial College London,https://www.imperial.ac.uk/
2,University College London (UCL),https://www.ucl.ac.uk/
3,University of Edinburgh,https://www.ed.ac.uk/
4,University of Manchester,https://www.manchester.ac.uk/
5,University of Zurich,https://www.uzh.ch/en.html
6,University of Amsterdam,https://www.uva.nl/en/home
7,University of Copenhagen,https://www.ku.dk/english/
8,Swiss Federal Institute of Technology Zurich (...,https://ethz.ch/en.html
9,University of Paris,https://www.univ
10,Sorbonne University,https://www.sorbonne
11,University of Vienna,https://www.univie.ac.at/en/
12,University of Helsinki,https://www.helsinki.fi/en
13,Ludwig Maximilian University of Munich (LMU Mu...,https://www.en.uni
14,University of Barcelona,https://www.ub.edu/web/ub/en/
15,KU Leuven,https://www.kuleuven.be/english/
16,Leiden University,https://www.universiteitleiden.nl/en
17,University of Zurich,https://www.uzh.ch/en.html
18,University of Milan,https://www.unimi.it/en
19,University of Bristol,https://www.bristol.ac.uk/
20,University of Munich (LMU Munich),https://www.en.uni
21,University of Oslo,https://www.uio.no/english/
22,Heidelberg University,https://www.uni
23,University of Gothenburg,https://www.gu.se/en
24,University of St. Andrews,https://www.st
25,University of Groningen,https://www.rug.nl/
26,University of Bern,https://www.unibe.ch/index_eng.html
27,University of Freiburg,https://www.uni
28,University of Amsterdam,https://www.uva.nl/en/home
29,University of Geneva,https://www.unige.ch/en/
30,University of Manchester,https://www.manchester.ac.uk/
31,University of Bristol,https://www.bristol.ac.uk/
32,Utrecht University,https://www.uu.nl/en
33,University of Warwick,https://www.warwick.ac.uk/

# List with some Universities of USA

In [20]:
df = pd.read_excel("Universidades.xlsx", sheet_name="usa")
# Save the data
df.to_excel("List of many Universities USA.xlsx", sheet_name="USA")
df

    Rank                             University                        Website
0      1                     Harvard University       https://www.harvard.edu/
1      2  Massachusetts Institute of Technology           https://www.mit.edu/
2      3                    Stanford University      https://www.stanford.edu/
3      4     California Institute of Technology       https://www.caltech.edu/
4      5                   Princeton University     https://www.princeton.edu/
5      6                    Columbia University      https://www.columbia.edu/
6      7                  University of Chicago      https://www.uchicago.edu/
7      8                        Yale University          https://www.yale.edu/
8      9             University of Pennsylvania         https://www.upenn.edu/
9     10               Johns Hopkins University           https://www.jhu.edu/
10    11     University of California, Berkeley      https://www.berkeley.edu/
11    12                     Cornell University       https://www.cornell.edu/
12    13                        Duke University          https://www.duke.edu/
13    14               University of Washington    https://www.washington.edu/
14    15                    Columbia University      https://www.columbia.edu/
15    16      University of Michigan, Ann Arbor         https://www.umich.edu/
16    17                Northwestern University  https://www.northwestern.edu/
17    18  University of California, Los Angeles          https://www.ucla.edu/
18    19                 University of Virginia      https://www.virginia.edu/
19    20               Johns Hopkins University           https://www.jhu.edu/
20    21                       Emory University         https://www.emory.edu/
21    22          University of Texas at Austin        https://www.utexas.edu/
22    23                      Boston University            https://www.bu.edu/
23    24      University of Southern California           https://www.usc.edu/
24    25             Carnegie Mellon University           https://www.cmu.edu/
25    26     Washington University in St. Louis         https://www.wustl.edu/
26    27                      Dartmouth College     https://www.dartmouth.edu/
27    28                        Rice University          https://www.rice.edu/
28    29                    New York University           https://www.nyu.edu/
29    30               University of Notre Dame            https://www.nd.edu/
30    31                       Tufts University         https://www.tufts.edu/
31    32    University of California, San Diego          https://www.ucsd.edu/
32    33                       Brown University         https://www.brown.edu/
33    34                  Vanderbilt University    https://www.vanderbilt.edu/
34    35        University of Wisconsin–Madison          https://www.wisc.edu/

# List with some Universities of Asia

In [21]:
df = pd.read_excel("Universidades.xlsx", sheet_name="asia")

df["Link"] = df["Universities"].apply(lambda x: x.split("-")[1])
df["Universities"] = df["Universities"].apply(lambda x: x.split("-")[0])

# Save the data
df.to_excel("List of many Universities Asia.xlsx", sheet_name="Asia")
df

,Universities,Link
0,National University of Singapore (NUS),https://www.nus.edu.sg/
1,Tsinghua University,http://www.tsinghua.edu.cn/en/
2,Nanyang Technological University (NTU),https://www.ntu.edu.sg/
3,University of Tokyo,https://www.u
4,Peking University,https://www.pku.edu.cn/en/
5,Hong Kong University of Science and Technology...,https://www.ust.hk/
6,Kyoto University,https://www.kyoto
7,Seoul National University (SNU),https://en.snu.ac.kr/
8,Fudan University,https://www.fudan.edu.cn/en/
9,Shanghai Jiao Tong University,https://www.sjtu.edu.cn/
10,Korea Advanced Institute of Science and Techno...,https://www.kaist.edu/
11,Zhejiang University,https://www.zju.edu.cn/english/
12,National Taiwan University (NTU),https://www.ntu.edu.tw/english/
13,University of Hong Kong (HKU),https://www.hku.hk/
14,University of Science and Technology of China ...,http://en.ustc.edu.cn/
15,Tokyo Institute of Technology,https://www.titech.ac.jp/english/
16,Pohang University of Science and Technology (P...,https://www.postech.ac.kr/eng/
17,Hebrew University of Jerusalem,https://new.huji.ac.il/en
18,Indian Institute of Science Bangalore (IISc),https://www.iisc.ac.in/
19,King Abdulaziz University,https://www.kau.edu.sa/Home.aspx?Site_ID=1001...
20,Tel Aviv University,https://english.tau.ac.il/
21,National Tsing Hua University,https://www.nthu.edu.tw/en/
22,Osaka University,https://www.osaka
23,Indian Institute of Technology Bombay (IIT Bom...,https://www.iitb.ac.in/
24,University of Malaya,https://www.um.edu.my/
25,Indian Institute of Technology Delhi (IIT Delhi),https://home.iitd.ac.in/
26,Yonsei University,https://www.yonsei.ac.kr/en_sc/
27,Indian Institute of Technology Madras (IIT Mad...,https://www.iitm.ac.in/
28,National Cheng Kung University,https://web.ncku.edu.tw/index.php?Lang=en
29,Hebrew University of Jerusalem,https://new.huji.ac.il/en
30,Koç University,https://www.ku.edu.tr/en
31,Sabancı University,https://www.sabanciuniv.edu/en
32,National Chiao Tung University,https://www.nctu.edu.tw/en
33,Chinese University of Hong Kong (CUHK),https://www.cuhk.edu.hk/english/
34,Pusan National University,http://www.pusan.ac.kr/eng/

In [9]:
# # Import the data
# df = pd.read_excel("Universidades.xlsx", sheet_name="c links")

# # Split the data into two columns
# df["Link"] = df["Universidade"].apply(lambda x: x.split("//")[-1])
# df
# df["Universidade"] = df["Universidade"].apply(lambda x: x.split(":")[0])
# del df["link"]
# df["Universidade"] = df["Universidade"].apply(lambda x: x.split(".")[1])
# df
# # Save the data
# df.to_excel("List of many Universities.xlsx", sheet_name="Att")